<section class="section contact" id='contact'>
  <div class="container">
    <div class="section-box">
      <div data-aos="fade-up" data-aos-duration="1000">
        <h3 class="contact-pre-title big-subtitle">{{"Contact.Pretitle" | translate}}</h3>
        <h4 class="e-font contact-title big-title">
          {{"Contact.Title" | translate}}
        </h4>
      </div>
      <p data-aos="fade-up" data-aos-duration="1000">
        {{"Contact.Content" | translate}}
      </p>
      <div class="contact-socials mt-4 d-flex flex-row justify-content-center align-items-center" data-aos="fade-up" data-aos-duration="1000">
        <a class="contact-social-link mx-2" href="mailto:breejeshrathod@gmail.com" target="_blank" [attr.aria-label]="'Email'">
          <i class="far fa-envelope"></i>
        </a>
        <a href="https://github.com/breejesh" class="contact-social-link mx-2" target='_blank' [attr.aria-label]="'GitHub'">
          <i class="fab fa-github"></i>
        </a>
        <a href="https://www.linkedin.com/in/breejesh/" class="contact-social-link mx-2" target='_blank' [attr.aria-label]="'LinkedIn'">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </div>
    </div>

  </div>
</section>
